<strong>Olá, {{ studente }}</strong>

<p>Seja bem vindo ao  GymPoint!!!</p>
<p>Segue os dados do seu plano.</p>
<p>
  <strong>Aluno......: </strong> {{ studente }} <br />
  <strong>Plano......: </strong> {{ plano }} <br />
  <strong>Data inicio: </strong> {{ start_date }} <br />
  <strong>Data fim...: </strong> {{ end_date }} <br />
  <strong>Valor Total: </strong> {{ price }} <br />
  <br />
  <small>
    Obrigado por fazer parte do GymPoint!!!
  </small>
</p>
